.profile-container {
  text-align: center;
}

.profile {
  width: 300px;
  margin-top: 75px;
  margin-bottom: 25px;
  box-shadow: 5px 10px 3px gray;
  border: 1px solid lightgray;
}

.about-section{
    text-align: left;
    width: 50%;
    margin: auto;
}
.about-section p{
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 900px){
  .about-section{
    text-align: left;
    width: 84%;
    margin: auto;
  }
}