.squad-header{
  text-align: center;
}
.squad-title{
    margin-top: 100px;
}
.squad-image-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.project-screenshot {
  flex: 1;
  align-self: center;
  width: 900px;
  box-shadow: 5px 10px 3px black;
  margin-bottom: 50px;
}
