.squad-header{
  text-align: center;
}
.squad-title{
    margin-top: 100px;
    margin-bottom: 6px;
    color: #545E75;
}
.squad-blurb{
  margin-top: 0;
  color: #545E75;
}
.squad-links-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.squad-links-container a{
  text-decoration: none;
  margin: 10px;
}
.squad-link{
  font-size: 18px;
}
.squad-link:hover{
  color: black;
}
.squad-image-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.project-screenshot {
  flex: 1;
  align-self: center;
  width: 900px;
  box-shadow: 5px 10px 3px black;
  margin-bottom: 50px;
}

.squad-description{
  width: 50%;
  margin: auto;
}

.squad-description ul{
  list-style: none;
  padding-left: 0;
}
.squad-description{
  font-size: 19px;
  /* font-family: 'Open Sans', sans-serif; */
}