.petful-header{
    text-align: center;
  }
  .petful-title{
      margin-top: 100px;
      margin-bottom: 6px;
      color: #545E75;
  }
  .petful-blurb{
    margin-top: 0;
    color: #545E75;
  }
  .petful-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .petful-links-container a{
    text-decoration: none;
    margin: 10px;
  }
  .petful-link{
    font-size: 18px;
  }
  .petful-link:hover{
    color: black;
  }
  .petful-image-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  .project-screenshot {
    flex: 1;
    align-self: center;
    width: 900px;
    box-shadow: 5px 10px 3px black;
    margin-bottom: 50px;
  }
  
  .petful-description{
    width: 50%;
    margin: auto;
  }
  
  .petful-description ul{
    list-style: none;
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
  }
  .petful-description p, li, h5{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
  }